main {
  display: grid;
  place-items: center;
  background-image: url("../assets/discord-register-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card.register {
  background-color: #36393F;
}

.card.register>h3 {
  text-align: center;
}
.card.register button {
  background-color: #5865F2;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-family: 'Comfortaa';
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 0;
  border: none;
  font-family: 'Comfortaa';
  height: 2rem;
}

input[type=checkbox] {
  margin-left: 0;
}