html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Comfortaa';
}

a {
  text-decoration: unset;
  color: unset;
}

nav {
  background-color: #2F3136;
  padding: 1rem;
}

nav>h1 {
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}

nav>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav>ul>li {
  color: #72767D;
  margin-top: 1rem;
}

nav>ul>li.active {
  color: white;
}

main {
  background-color: #36393F;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: #41454b solid 1px;
}

th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 0.25rem;
}

th:last-child,
td:last-child {
  padding-right: 0;
  text-align: right;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

td:first-child,
td:last-child {
  color: white;
}

th.sortable:hover,
th.sortable.sorted:hover {
  background-color: #202225;
}

th.sortable.sorted {
  background-color: #191a1d;
}

.table {
  overflow-x: auto;
}

.card {
  color: #B9BBBE;
  background-color: #292B2F;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.card>h3 {
  color: white;
  margin-top: 0;
}

.card h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}

.card button {
  background-color: #5865F2;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-family: 'Comfortaa';
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.card button:hover {
  background-color: #444ebd;
}

.card input[type=tel],
.card input[type=number],
.card input[type=date],
.card input[type=text],
.card input[type=email],
.card input[type=password],
.card textarea {
  width: 100%;
  padding: 0;
  border: none;
  font-family: 'Comfortaa';
  height: 2rem;
}

.card textarea {
  height: unset;
  resize: vertical;
}

.card input[type=checkbox] {
  margin-left: 0;
}

@media (max-width: 992px) {
  body {
    flex-direction: column;
  }

  nav {
    width: 100%;
    padding: 0.5rem 0;
  }

  nav>ul {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  nav>ul>li {
    margin-top: 0;
  }

  main {
    height: 100%;
    width: 100%;
  }
}