body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Comfortaa';
}

a {
  text-decoration: unset;
  color: unset;
}

nav {
  background-color: #202225;
  padding: 1rem;
}

nav>h1{
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}

nav>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav>ul>li {
  color: #72767D;
  margin-top: 1rem;
}

nav>ul>li.active {
  color: white;
}

main {
  background-color: #2F3136;
  height: 100%;
  width: 100%;
}

@media (max-width: 576px) {
  body {
    flex-direction: column;
  }

  nav {
    width: 100%;
    padding: 0.5rem 0;
  }

  nav>ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav>ul>li{
    margin-top: 0;
  }

  main {
    height: 100%;
    width: 100%;
  }
}