.summary-item {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 40px 1fr 60px;
  margin-bottom: 1rem;
}

.summary-item:last-child {
  margin-bottom: 0;
}

.summary-item .icon {
  background-color: #40444B;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
}

.summary-item .progress-container-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-item .progress-container {
  height: 15px;
  background-color: #4F545C;
  border-radius: 1rem;
}

.summary-item .progress {
  width: 0;
  height: 100%;
  background-color: #5865F2;
  border-radius: 1rem;
}

.summary-item .progress-percentage {
  font-size: 1.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.card-container>.card {
  margin-top: 0;
}


.card-container>.card.debts {
  margin-right: 0.5rem;
}

.card-container>.card.extremes {
  margin-left: 0.5rem;
}

@media (max-width: 992px) {
  .card-container {
    display: unset;
    grid-template-columns: unset;
  }
  
  .card-container>.card.debts {
    margin-right: 1rem;
  }
  
  .card-container>.card.extremes {
    margin-left: 1rem;
  }
}