.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card input[type=text],
.card input[type=email] {
  height: 1.5rem;
}

.card button {
  margin-top: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
  text-align: center;
}

th.sortable:hover, th.sortable.sorted:hover {
  background-color: #202225;
}

th.sortable.sorted {
  background-color: #191a1d;
}