.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card input[type=number],
.card input[type=date],
.card input[type=text],
.card input[type=email] {
  height: 1.5rem;
}

.card button {
  margin-top: 0;
}

th:nth-child(5),
td:nth-child(5) {
  padding-right: 0;
  text-align: right;
}

th:last-child,
td:last-child {
  padding-right: 0;
  text-align: center;
}